body {
    min-height: 100vh;
    min-width:100vw;
    margin: 0px;
    padding: 0;
    background-color: darkgrey
}


header {
    background-color: darkblue;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px black;
}

button:active {
    transform: translateY(5px);
}

.card-section {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card-size {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }

.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg)
}

.front, 
.back{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180)
}

.card .back {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxJJZIehOFPOtLnI2HAUTSiOurMXBtvUekxR-d4Op4-DQvLaZBxzZi4zGMPVCqt1qv3SA&usqp=CAU"); */
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.card-size:hover {
    cursor: pointer;
}

/* .card-size:active {
    transform: translateY(5px);
} */